
body{
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
}

.upper-box {
    height: 5%;
    display: flex;
    flex-direction: row;
}

.logo{

    font-family: "Ballet", cursive;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    padding: 20px;
    margin-left:25px ;
}

.logo-icon {
    font-size: 25px;
    color: #fff;
    text-align: center;
    width: 50px;
    position: relative;
}

.logo-icon::before{
    position: absolute;
    top: 50px;
    font-size: 31px;
}

.search-container{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.search-container p {
    width: 100%;
    text-align-last: center;
    padding: 20px;
    color:  white;
    font-size: 45px;
    font-weight: 700;
}

.search-box{
    display: flex;
    flex-direction: row-reverse;
    width: 55%;
    position: relative;
    padding: 0 10px;
    justify-content: center;
}

.search-box label{
    width: 50px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 10px;
    z-index: 10;
    right: calc(50% - 25px);
    transition: all 1s ease;
}

.search-box .searching-bt{
    width: 50px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 10px;
    z-index: 10;

}


.search-box i{
    background-color: var(--pumpkin);
    height: 100%;
    width: 100%;
    border-radius:50% ;
    font-size: 20px;
    color: white;
    display: flex;
    position: relative;
    z-index: 100;
}

.search-box i::before{
    position: absolute;
    top: 14px ; 
    left: 15px;
}

.search-box .searching{
    width: 100%;
    border-radius:50px ;
    padding: 0 10px ;
    border: 3px solid var(--pumpkin);
    box-shadow: inset 1px 1px 10px 1px var(--orange-peel);
    height: 50px;
    background-color: var(--russian-violet);
}

.search-box input{
    width: 50px;
    border-radius:50px ;
    border: 3px solid var(--pumpkin);
    box-shadow: inset 1px 1px 20px 3px var(--orange-peel);
    height: 50px;
    background-color: var(--russian-violet);
    transition: all 1s ease;
    color: white;
    font-size: 15px;
}

.not-found{
    color: rgb(249, 91, 91);
    font-size: 20px;

}

.search-box input:focus{
    outline: none;

}

.main-contaner{
    min-height: 90%;
    width: 100%;
    margin:10 calc()
}


.main-contaner{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    margin: 30px 0 ;
}

.course-contaner{
    padding: 30px;
    min-height: 80%;
    width: 90%;
    border-radius: 30px;
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); 
    transform: translateY(20px);
    transition: 2s ease;
    margin:0px ; 
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 400px));
    column-gap: 50px;
    row-gap: 50px;
    justify-items: center;   
    justify-content: center;
        z-index: 10;
    position: relative;
}



.corse-box{
    background: linear-gradient(145deg, var(--french-violet), var(--amethyst));
    height: 250px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
    row-gap: 5px;
    overflow: hidden;
    position: relative;
}

.corse-box::after {
  content: "";
  position: absolute;
  top: 0;
  /* left: -100%; */
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-30deg); 
  opacity: .5;
  transition :left 1s ease;

}

.corse-box:hover::after {
  animation: shine 0.8s forwards;

}

@keyframes shine {
  from {
    left: 0px;
  }
  to {
    left: 150%;
  }
}

.corse-box:hover{
    transform: scale(1.02);
    transform: translateY(-4px);
}

.corse-box img{
    height: 60%;
}

.capion p:first-of-type {
    margin: 0 0 10px;
    font-size: 12px;
    opacity: .7;
}

.but{
    height: 40px;
    width: 40%;
    border-radius: 20px;
    align-self: center;
    border: none;
    transition: all .4s ease;
    cursor: pointer;
}

.but:hover{
    background-image: linear-gradient(45deg , var(--french-violet) , var(--orange-peel))!important;
    color: white;
}

@media (max-width:700px) {
    .search-box{
        width: 90%;
    }
}