:root{
    

--pumpkin: #ff6d00ff;
--safety-orange: #ff7900ff;
--ut-orange: #ff8500ff;
--princeton-orange: #ff9100ff;
--orange-peel: #ff9e00ff;
--russian-violet: #240046ff;
--persian-indigo: #3c096cff;
--tekhelet: #5a189aff;
--french-violet: #7b2cbfff;
--amethyst: #9d4eddff;
}

*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    
}