

ul{

    position: fixed;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    top : -100px;
    right: -100px;
    z-index: 2000000;
}

a{
    font-style: none;
    text-decoration: none;
    color: white;

    
}

.main-button i{
    color: white;
    font-size: 20px;

}


li ,.main-button{
    font-size: 20px;
    list-style: none;
    height: 50px;
    width: 50px;
    background-color: #ffffff10;
    box-shadow: inset 1px 1px 5px 1px var(--persian-indigo)  ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center ;
    position: absolute;
    left:80px;
    top: 118px;   
    transition: all 1s ease;
    z-index: 50;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 100;
    
}

li:hover{
    box-shadow: inset -2px -2px 5px 1px var(--pumpkin)  ;
}

.main-button{
    background-color: var(--russian-violet);
    z-index: 1000000;
    border: 1px solid var(--russian-violet);
    box-shadow: inset 0 0 3px 2px var(--russian-violet),
                inset -2px -2px 5px 1px var(--pumpkin)  ;

}

.main-button:hover{
    box-shadow: inset -2px -2px 8px 1px var(--pumpkin)  ;
    

}
